<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NetfixPOS.Models.Properties.Settings.NetfixPOSConnectionString"
            connectionString="Data Source=CHITKOKO01\SQLEXPRESS;Initial Catalog=NetfixPOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>